parameters:
    level: 1
    paths:
        - src
    stubFiles:
    - stubs/Laminas/EventManager/EventManagerAwareInterface.stub
    - stubs/Laminas/Mvc/Controller/AbstractController.stub
    - stubs/Laminas/Mvc/InjectApplicationEventInterface.stub
    - stubs/Laminas/Stdlib/DispatchableInterface.stub
    - stubs/Laminas/Http/PhpEnvironment/Request.stub
    - stubs/Laminas/Http/PhpEnvironment/Response.stub